
<h3>Formulaire d'annonce</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.titre, "Titre de l'article", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.titre) }}

    <div class="col-sm-4">
      {# Génération de l'input. #}
      {{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# Idem pour un autre champ. #}
  <div class="form-group">
    {{ form_label(form.content, "Contenu de l'annonce", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
    {{ form_errors(form.content) }}
    <div class="col-sm-4">
      {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  <div class="form-group">
   {{ form_label(form.image.file, "Image", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
   {{ form_errors(form.image.file) }}
   <div class="col-sm-4">
     {{ form_widget(form.image.file, {'attr': {'class': 'btn btn-primary'}}) }}
   </div>
 </div>
 <div class="form-group">
  {{ form_label(form.save, "Save", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
  <div class="col-sm-4">
   {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
 </div>
</div>


{# Fermeture de la balise <form> du formulaire HTML #}
{{ form_end(form) }}
</div>