{% extends "EappBlogBundle::layout.html.twig" %}

{% block title %}
  Lecture d'un article - {{ parent() }}
{% endblock %}

{% block myblogz_body %}

  <h2>{{ article.titre }}</h2>
  <i>Publié le {{ article.published|date('d/m/Y') }}</i>

  <div class="well">
    {{ article.content }}
  </div>

  <p>
    <a href="{{ path('myblogz_accueil') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('myblogz_edit', {'id': article.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'article
    </a>
    <a href="{{ path('myblogz_delete', {'id': article.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'article
    </a>
  </p>

{% endblock %}